 * {
     margin: 0px;
     padding: 0px;
     box-sizing: border-box;
     font-family: "Kdam Thmor Pro", sans-serif;
     text-decoration: none;
     color: rgb(165, 164, 164);
 }
 
 header {
     min-height: 9vh;
     display: flex;
     align-items: right;
     justify-content: right;
     background-color: rgb(8, 2, 34);
     height: 80px;
 }
 
 header h1 {
     font-size: 2em;
     color: #0166e1;
 }
 
 main {
     width: 100%;
     min-height: 100vh;
     background-image: linear-gradient(#04032c, #09356b);
 }
 
 .menu-opcoes ul li {
     display: inline;
     font-size: 20px;
     margin-left: 20px;
     position: relative;
     float: right;
     right: 200px;
     top: 20px;
 }
 
 #img-redonda {
     height: 250px;
     width: 300px;
     border-radius: 100%;
     margin-left: 100px;
     margin-top: 100px;
 }
 
 span {
     margin-left: 150px;
 }
 
 main .links-container aside {
     margin-top: 2%;
     width: 25%;
     display: flex;
     align-items: right;
     justify-content: space-around;
     margin-left: 85px;
 }
 
 main .links-container aside i {
     font-size: 1.8em;
     background-color: #fff;
     padding: 8px;
     height: 40px;
     width: 40px;
     border-radius: 20px;
     transition: 0.3s ease-in-out;
     color: #fff;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 main .links-container aside .github {
     color: #e34133;
 }
 
 main .links-container aside .github:hover {
     background-color: #e34133;
     color: #fff;
 }
 
 main .links-container aside .linkedin {
     color: #0a66c2;
 }
 
 main .links-container aside .linkedin:hover {
     background-color: #0a66c2;
     color: #fff;
 }
 
 main .links-container aside .instagram {
     color: #db3ba6;
 }
 
 main .links-container aside .instagram:hover {
     background-color: #14a0f9;
     color: #fff;
 }